body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif !important;
}

.bg-primary {
  background-color:  #0092f6 !important;
}

.bg-secondary, .btn-primary {
  background-color: #007bcf !important;
}

.btn-link {
  color: #007bcf !important;
}

.btn-outline-warning {
  border-color: #ffe47a !important;
  color: #ffe47a !important;
}

.btn-outline-warning:hover {
  background-color: #ffe47a !important;
  border-color: #ffe47a !important;
  color: #0092f6 !important;
}

.btn-primary:hover, .btn-outline-primary:hover {
  background-color: #007bcf !important;
  border-color: #007bcf !important
}

.bg-light {
  background-color: #edf6ff !important;
}

.heading-weight {
  font-weight: 700 !important;
}

.heading-color {
  color: #373d3f !important;
}

.content-weight {
  font-weight: 400 !important;
}

.shadow {
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1) !important;
}

.card { 
  max-height: 450px;
}

.card-header {
  padding: 0.5rem 1.25rem !important;
}

.card-body {
  overflow: auto;
}

.card > .card-header > h5 {
  display: inline-block;
}

.card > .card-header > form {
  display: inline-block;
  width: 65%;
}

.card > .card-header span {
  cursor: pointer;
}

.card-footer {
  background-color: white !important;
  border-top: 0px !important;
}

.task {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 35%;
  min-width: 3em;
  background-color: #edf6ff;
  color: #007bcf;
}

.task > h5 {
  margin-bottom: 0;
}

.task-default {
  border-left: #007bcf solid 0.5em;
}

.task-code {
  border-left: #61bd4f solid 0.5em;
}

.task-design {
  border-left: #c377e0 solid 0.5em;
}

.task-problem {
  border-left: #eb5a46 solid 0.5em;
}

.task-info {
  border-left: #f2d600 solid 0.5em;
}

.task-other {
  border-left: #4d4d4d solid 0.5em;
}

.label-default {
  color: #fff;
  background-color: #007bcf;
  border-color: #007bcf;
}

.label-code {
  color: #fff;
  background-color: #61bd4f;
  border-color: #61bd4f;
}

.label-design {
  color: #fff;
  background-color: #c377e0;
  border-color: #c377e0;
}

.label-problem {
  color: #fff;
  background-color: #eb5a46;
  border-color: #eb5a46;
}

.label-info {
  color: #fff;
  background-color: #f2d600;
  border-color: #f2d600;
}

.label-other {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.alert-border-only {
  border-color: #c6c8ca;
}

.label-name {
  margin-bottom: 0;
}

.section-parent {
  height: 700px;
}

.section-top {
  width: 100%;
  height: 50%;
  background: #0092f6;
}

.section-bottom {
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom,  #0092f6,  #ffe47a);
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #edf6ff; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007bcf; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #007bcf; 
}